/*PRETTYPHOTO*/
.pp_content {
	width: 100% !important;
	height: 100% !important;
}

div.pp_pic_holder {
	position:absolute;
}

div.light_square .pp_close {
	width: 40px;
	height: 40px;
	background: none;
	cursor: pointer;
	z-index: 1;
}

a.pp_close {
	position: absolute;
	right: 15px;
	top: 22px;
	display: block;
	line-height: 38px;
	text-indent:0;
	z-index:99999;
	text-align:center;
	color:#fff;
	font-size:17px;
}

.pp_content_container .pp_left {
	padding-left: 0;
}
.pp_content_container .pp_right {
	padding-right: 0;
}

/*prettyPhoto Galerija*/
.pp_gallery {
	top: 70px;
}

/*KUTIJE*/
html, body {min-height: 100%;}
#box-wrap {min-height: 100%;padding: 0 0 9% 0;}

.page-template-darkred-php #box-wrap {min-height: 100%;padding: 0 0 35% 0;}/*za kontakt kutiju-ubaciti media query*/

.aside-box {
	float:left;
	width:35%;
	padding-bottom:625.625em;margin-bottom: -625.000em;
}

.aside-box-pad {
	padding:5% 0 0 5%;
	width:90%;
}

.aside-box-pad h1 {
	font-size:40px;
	font-size:4rem;
}

.content-box {
	float:right;
	width:65%;
	height: 100%;
	padding-bottom:625.625em;margin-bottom: -625.000em;
}
.content-box-pad {
	padding: 10% 0 0 5%;
	width:90%;
}

.content-box-pad h2 {
	font-size:28px;
	font-size: 2.8rem;
	padding: 0 0 5% 0;
}
.content-box-pad ul {
	list-style: disc;
	padding-bottom: 5%;
	list-style-position: inside;
}

.content-box-pad p {
	padding: 0 0 5% 0;
}

/*individualne kutije*/

/*blue*/
body.page-template-blue-php{
	background-color: #fff;
	color: #000;
}

body.page-template-blue-php #box-wrap{
	overflow:hidden;
}

span.close-bg-blue {
	width: 40px;
	height: 40px;
	display: block;
	position: fixed;
	top: 0;
	right: 0px;
	background-color: $blue;
}

/*lightgreen*/
body.page-template-lightgreen-php{
	background-color: #fff;
	color: #000;
}

body.page-template-lightgreen-php #box-wrap{
	overflow:hidden;
}

span.close-bg-lightgreen {
	width: 40px;
	height: 40px;
	display: block;
	position: fixed;
	top: 0;
	right: 0px;
	background-color: $lightGreen;
}

/*lightred*/
body.page-template-lightred-php{
	background-color: #fff;
	color: #000;
}

body.page-template-lightred-php #box-wrap{
	overflow:hidden;
}

span.close-bg-lightred {
	width: 40px;
	height: 40px;
	display: block;
	position: fixed;
	top: 0;
	right: 0px;
	background-color: $lightRed;
}

/*yellow*/
body.page-template-yellow-php{
	background-color: #fff;
	color: #000;
}

body.page-template-yellow-php #box-wrap{
	overflow:hidden;
}

span.close-bg-yellow {
	width: 40px;
	height: 40px;
	display: block;
	position: fixed;
	top: 0;
	right: 0px;
	background-color: $yellow;
}

/*purple*/
body.page-template-purple-php{
	background-color: #fff;
	color: #000;
}

body.page-template-purple-php #box-wrap{
	overflow:hidden;
}

span.close-bg-purple {
	width: 40px;
	height: 40px;
	display: block;
	position: fixed;
	top: 0;
	right: 0px;
	background-color: $purple;
}

/*lightblue*/
body.page-template-lightblue-php{
	background-color: #fff;
	color: #000;
}

body.page-template-lightblue-php #box-wrap{
	overflow:hidden;
}

span.close-bg-lightblue {
	width: 40px;
	height: 40px;
	display: block;
	position: fixed;
	top: 0;
	right: 0px;
	background-color: $lightBlue;
}

/*orange*/
body.page-template-orange-php{
	background-color: #fff;
	color: #000;
}

body.page-template-orange-php #box-wrap{
	overflow:hidden;
}

span.close-bg-orange {
	width: 40px;
	height: 40px;
	display: block;
	position: fixed;
	top: 0;
	right: 0px;
	background-color: $orange;
}

/*darkred*/
body.page-template-darkred-php{
	background-color: #fff;
	color: #000;
}

body.page-template-darkred-php #box-wrap{
	overflow:hidden;
}

span.close-bg-darkred {
	width: 40px;
	height: 40px;
	display: block;
	position: fixed;
	top: 0;
	right: 0px;
	background-color: $darkRed;
}

/*darkgreen*/
body.page-template-darkgreen-php{
	background-color: #fff;
	color: #000;
}

body.page-template-darkgreen-php #box-wrap{
	overflow:hidden;
}

span.close-bg-darkgreen {
	width: 40px;
	height: 40px;
	display: block;
	position: fixed;
	top: 0;
	right: 0px;
	background-color: $darkGreen;
}

/*footer links*/
body.page-template-links-php{
	background-color: #fff;
	color: #000;
}

body.page-template-links-php #box-wrap{
	overflow:hidden;
}

span.close-bg-footerlink {
	width: 40px;
	height: 40px;
	display: block;
	position: fixed;
	top: 0;
	right: 0px;
	background-color: $footerLinks;
}


/*boje kutija sa leve strane*/
.page-template-blue-php .aside-box {
	background-color: $blue;
	color: #fff;
	font-size:28px;
	font-size:2.8rem;
}

.page-template-lightgreen-php .aside-box {
	background-color: $lightGreen;
	color: #fff;
	font-size:28px;
	font-size:2.8rem;
}

.page-template-lightred-php .aside-box {
	background-color: $lightRed;
	color: #fff;
	font-size:28px;
	font-size:2.8rem;
}

.page-template-yellow-php .aside-box {
	background-color: $yellow;
	color: #000;
	font-size:28px;
	font-size:2.8rem;
}

.page-template-purple-php .aside-box {
	background-color: $purple;
	color: #fff;
	font-size:28px;
	font-size:2.8rem;
}

.page-template-lightblue-php .aside-box {
	background-color: $lightBlue;
	color: #fff;
	font-size:28px;
	font-size:2.8rem;
}

.page-template-orange-php .aside-box {
	background-color: $orange;
	color: #fff;
	font-size:28px;
	font-size:2.8rem;
}

.page-template-darkred-php .aside-box {
	background-color: $darkRed;
	color: #fff;
	font-size:28px;
	font-size:2.8rem;
}

.page-template-darkgreen-php .aside-box {
	background-color: $darkGreen;
	color: #fff;
	font-size:28px;
	font-size:2.8rem;
}

.page-template-links-php .aside-box {
	background-color: $footerLinks;
	color: #fff;
	font-size:28px;
	font-size:2.8rem;
}

/*POZADINE ZA GALERIJE*/

ul#menu-navigation li.gal1 a {
	text-indent:-9999999px;
	background: url('../images/thumbnails/g1.jpg') no-repeat;
}

ul#menu-navigation li.gal2 a {
	text-indent:-9999999px;
	background: url('../images/thumbnails/g2.jpg') no-repeat;
}

ul#menu-navigation li.gal3 a {
	text-indent:-9999999px;
	background: url('../images/thumbnails/g3.jpg') no-repeat;
}

/*izgled galerije*/
div.pp_default .pp_close:hover, div.pp_default .pp_nav .pp_play:hover, div.pp_default .pp_nav .pp_pause:hover, div.pp_default .pp_arrow_next:hover, div.pp_default .pp_arrow_previous:hover {
opacity: 1;
}

div.pp_default .pp_content_container .pp_left {
	background: none;
	padding-left: 13px;
}

div.pp_default .pp_content_container .pp_right {
	background: none;
	padding-right: 13px;
}

div.pp_default .pp_content {
	background-color: transparent;
}

div.pp_default .pp_close {
	width: 40px;
	height: 40px;
	background: $blue;
	cursor: pointer;
	z-index:1;
}

div.pp_default a.pp_close {
	position: absolute;
	right: 27px;
	top: 22px;
	display: block;
	line-height: 38px;
	text-indent: 0;
	z-index: 10000 !important;
	text-align: center;
	color: #fff;
	font-size: 17px;
}

div.pp_default .pp_loaderIcon {
	background: url(../images/loadedPage/loader.gif) center center no-repeat;
	z-index:20000;
}

div.light_square .pp_loaderIcon {
	background: url(../images/loadedPage/loader.gif) center center no-repeat;
	z-index:20000;
}

.pp_loaderIcon {
	display: block;
	height: 72px;
	left: 50%;
	margin: -12px 0 0 -32px;
	position: absolute;
	top: 50%;
	width: 72px;
}

div.pp_default .pp_content_container .pp_details {
	margin-top: -2px;
	background: $blue;
}

.pp_nav {
	clear: right;
	float: left;
	margin: 5px 10px 3px 0;
}

div.pp_default .pp_nav .currentTextHolder {
	font-family: text;
	font-style: normal;
	color: #fff;
	font-size: 11px;/*font u media queri ubaciti*/
	line-height: 25px;
}
div.pp_default .pp_description {
	font-size: 12px;/*font u media queri ubaciti*/
	font-weight: bold;
	line-height: 22px;
	margin: 8px 5px 5px 5px;
	float: left;
}