@import "base";

$bojaPozadine: #000000;
$bojaFonta: #ffffff;
$futerboja: #3b3b3b;
$hoverboja: #4d4d4d;

$blue :#1167FD;
$lightGreen :#0ED11B;
$lightRed :#FF1B02;
$yellow :#FEF029;
$purple :#B20FF1;
$lightBlue :#0BADFD;
$orange :#FE7F1E;
$darkRed :#930F01;
$darkGreen :#007A0F;
$footerLinks :#808080;

@font-face
{
font-family: text;
src: url('../fonts/narou.ttf'),
     url('../fonts/narou.eot') format("opentype"); /* IE */
}
@font-face
{
font-family: text;
src: url('../fonts/narou.ttf'),
     url('../fonts/narou.eot') format("opentype"); /* IE */
     font-weight:bold;
}

.skrolbar {
	overflow:hidden;
	padding-right:15px;
}

body {
	background:$bojaPozadine;
	color:$bojaFonta;
	font-family:text;
	font-size:90%;
	text-align:left;
	font-weight:normal;
}

span.vertical-center {
	vertical-align: middle;
	padding: 0 40px 40px 0;
	display: inline-block;
}

em {
	font-style: italic;
}

a {
	text-decoration: none;
	color: $futerboja;
}

a:hover {
	color: $hoverboja;
}

a:focus {
	outline: none;
}

a#login{
	text-indent: -99999px;
	background: url('../images/login.png') no-repeat;
}
a#logout{
	text-indent: -99999px;
	background: url('../images/logout.png') no-repeat;
}

a.post-edit-link {
	float: left;
	color: orange;
	margin: 0 0 20px 20px;
}

/*HOME PAGE KUTIJE*/
#home-wrap.format-link .home-content a {
	color:#fff;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

#home-wrap.format-link .home-content a[rel="noloadedpage"] {
	text-indent:-999999px;
	bottom:0;
	right:0;
}

.home-content a.post-edit-link {
	position: absolute;
	bottom: 0;
	left: 0;
	color: $orange;
	width: 30px;
	height: 10px;
}

#main-home-wrap {
	width:90%;
	margin:60px 5% 0 5%;
	position: relative;
}

.home-content-wrap {
	margin: 0 auto;
	text-align: left;
	border-bottom: 1px solid #3b3b3b;
	padding-bottom: 20px;
}

#home-wrap {
	position:relative;
	width: 300px;
	height: 300px;
	float:left;
	margin: 10px;
	color:#000;
	opacity:0.9;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
	-ms-transition:all 0.3s;
	transition:all 0.3s;
}

#home-wrap:hover {
	opacity:1;
	transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
}


#home-wrap.format-link .yellow a {
	color:#000;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.home-bg {
	position:absolute;
}

.home-content {
	position: absolute;
	height: 300px;
	width: 300px;
}

.home-content a {
	color:#fff;
	height:300px;
	width:300px;
	display:block;
}

.home-content h1 {
	font-size: 42px;/*36*/
	line-height: 46px;/*40*/
	padding:10px 10px 0 10px
}

.home-content p {
	font-size: 26px;
	line-height: 30px;
	padding: 10px 10px 0 10px;
}

/*Pozadine kutija via custom fields*/
.home-content .yellow a{
	color: #000;
	background: $yellow;
}

.home-content .yellow {
	color: #000;
	background: $yellow;
	height:100%;
}

.home-content .blue {
	color:#fff;
	background: $blue;
	height:100%;
}

.home-content .lightGreen {
	color:#fff;
	background: $lightGreen;
	height:100%;
}

.home-content .lightRed {
	color:#fff;
	background: $lightRed;
	height:100%;
}

.home-content .purple {
	color:#fff;
	background: $purple;
	height:100%;
}

.home-content .lightBlue {
	color:#fff;
	background: $lightBlue;
	height:100%;
}

.home-content .orange {
	color:#fff;
	background: $orange;
	height:100%;
}

.home-content .darkRed {
	color:#fff;
	background: $darkRed;
	height:100%;
}

.home-content .darkGreen {
	color:#fff;
	background: $darkGreen;
	height:100%;
}

.home-content .noHeader {
	padding-top:11px;
}


iframe {
	width: 100% !important;
	margin-bottom: -20px; /*bug praznina od 2px do 20px*/
	/*height: 100% !important;*/
}

/*KUTIJE*/
@import "kutije";

/*SIDEBAR*/
@import "sidebar";

/*FOOTER*/
@import "footer";