/*
Syntax error: Undefined variable: "$blue".
        on line 111 of C:/Web Sajtovi/mea-i.org/wp-content/themes/mea-i/sass/kutije.scss

Backtrace:
C:/Web Sajtovi/mea-i.org/wp-content/themes/mea-i/sass/kutije.scss:111
C:/Program Files/Scout/vendor/gems/gems/sass-3.1.7/lib/sass/../sass/script/variable.rb:50:in `_perform'
C:/Program Files/Scout/vendor/gems/gems/sass-3.1.7/lib/sass/../sass/script/node.rb:40:in `perform'
C:/Program Files/Scout/vendor/gems/gems/sass-3.1.7/lib/sass/../sass/tree/visitors/perform.rb:215:in `visit_prop'
org/jruby/RubyKernel.java:2096:in `send'
C:/Program Files/Scout/vendor/gems/gems/sass-3.1.7/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
C:/Program Files/Scout/vendor/gems/gems/sass-3.1.7/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
C:/Program Files/Scout/vendor/gems/gems/sass-3.1.7/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2336:in `collect'
C:/Program Files/Scout/vendor/gems/gems/sass-3.1.7/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
C:/Program Files/Scout/vendor/gems/gems/sass-3.1.7/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
C:/Program Files/Scout/vendor/gems/gems/sass-3.1.7/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
C:/Program Files/Scout/vendor/gems/gems/sass-3.1.7/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
C:/Program Files/Scout/vendor/gems/gems/sass-3.1.7/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
C:/Program Files/Scout/vendor/gems/gems/sass-3.1.7/lib/sass/../sass/tree/visitors/perform.rb:235:in `visit_rule'
org/jruby/RubyKernel.java:2096:in `send'
C:/Program Files/Scout/vendor/gems/gems/sass-3.1.7/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
C:/Program Files/Scout/vendor/gems/gems/sass-3.1.7/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
C:/Program Files/Scout/vendor/gems/gems/sass-3.1.7/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2336:in `collect'
C:/Program Files/Scout/vendor/gems/gems/sass-3.1.7/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
C:/Program Files/Scout/vendor/gems/gems/sass-3.1.7/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
C:/Program Files/Scout/vendor/gems/gems/sass-3.1.7/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
C:/Program Files/Scout/vendor/gems/gems/sass-3.1.7/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
C:/Program Files/Scout/vendor/gems/gems/sass-3.1.7/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
C:/Program Files/Scout/vendor/gems/gems/sass-3.1.7/lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
org/jruby/RubyKernel.java:2096:in `send'
C:/Program Files/Scout/vendor/gems/gems/sass-3.1.7/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
C:/Program Files/Scout/vendor/gems/gems/sass-3.1.7/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
org/jruby/RubyKernel.java:2096:in `send'
C:/Program Files/Scout/vendor/gems/gems/sass-3.1.7/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
C:/Program Files/Scout/vendor/gems/gems/sass-3.1.7/lib/sass/../sass/tree/root_node.rb:20:in `render'
C:/Program Files/Scout/vendor/gems/gems/sass-3.1.7/lib/sass/../sass/engine.rb:293:in `_render'
C:/Program Files/Scout/vendor/gems/gems/sass-3.1.7/lib/sass/../sass/engine.rb:241:in `render'
C:/Program Files/Scout/vendor/gems/gems/sass-3.1.7/lib/sass/../sass/util.rb:297:in `silence_sass_warnings'
C:/Program Files/Scout/vendor/gems/gems/sass-3.1.7/lib/sass/../sass/engine.rb:241:in `render'
C:/Program Files/Scout/vendor/gems/gems/compass-0.11.5/lib/compass/compiler.rb:136:in `compile'
C:/Program Files/Scout/vendor/gems/gems/compass-0.11.5/lib/compass/compiler.rb:122:in `timed'
C:/Program Files/Scout/vendor/gems/gems/compass-0.11.5/lib/compass/compiler.rb:135:in `compile'
C:/Program Files/Scout/vendor/gems/gems/compass-0.11.5/lib/compass/logger.rb:45:in `red'
C:/Program Files/Scout/vendor/gems/gems/compass-0.11.5/lib/compass/compiler.rb:134:in `compile'
C:/Program Files/Scout/vendor/gems/gems/compass-0.11.5/lib/compass/compiler.rb:114:in `compile_if_required'
C:/Program Files/Scout/vendor/gems/gems/compass-0.11.5/lib/compass/compiler.rb:99:in `run'
org/jruby/RubyArray.java:1603:in `each'
C:/Program Files/Scout/vendor/gems/gems/compass-0.11.5/lib/compass/compiler.rb:97:in `run'
C:/Program Files/Scout/vendor/gems/gems/compass-0.11.5/lib/compass/compiler.rb:122:in `timed'
C:/Program Files/Scout/vendor/gems/gems/compass-0.11.5/lib/compass/compiler.rb:96:in `run'
C:/Program Files/Scout/vendor/gems/gems/compass-0.11.5/lib/compass/commands/watch_project.rb:142:in `recompile'
org/jruby/RubyMethod.java:133:in `call'
org/jruby/RubyProc.java:268:in `call'
org/jruby/RubyProc.java:228:in `call'
C:/Program Files/Scout/vendor/gems/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `run_callback'
C:/Program Files/Scout/vendor/gems/gems/fssm-0.2.7/lib/fssm/path.rb:55:in `callback_action'
C:/Program Files/Scout/vendor/gems/gems/fssm-0.2.7/lib/fssm/path.rb:35:in `update'
C:/Program Files/Scout/vendor/gems/gems/fssm-0.2.7/lib/fssm/state/directory.rb:39:in `modified'
org/jruby/RubyArray.java:1603:in `each'
C:/Program Files/Scout/vendor/gems/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `modified'
C:/Program Files/Scout/vendor/gems/gems/fssm-0.2.7/lib/fssm/state/directory.rb:18:in `refresh'
C:/Program Files/Scout/vendor/gems/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `run'
org/jruby/RubyArray.java:1603:in `each'
C:/Program Files/Scout/vendor/gems/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `run'
org/jruby/RubyKernel.java:1419:in `loop'
C:/Program Files/Scout/vendor/gems/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:15:in `run'
C:/Program Files/Scout/vendor/gems/gems/fssm-0.2.7/lib/fssm/monitor.rb:26:in `run'
C:/Program Files/Scout/vendor/gems/gems/fssm-0.2.7/lib/fssm.rb:20:in `monitor'
C:/Program Files/Scout/vendor/gems/gems/compass-0.11.5/lib/compass/commands/watch_project.rb:86:in `perform'
C:/Program Files/Scout/vendor/gems/gems/compass-0.11.5/lib/compass/commands/base.rb:18:in `execute'
C:/Program Files/Scout/vendor/gems/gems/compass-0.11.5/lib/compass/commands/project_base.rb:19:in `execute'
C:/Program Files/Scout/vendor/gems/gems/compass-0.11.5/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
C:/Program Files/Scout/vendor/gems/gems/compass-0.11.5/lib/compass/exec/sub_command_ui.rb:15:in `run!'
C:\Program Files\Scout\bin\compass:12:in `(root)'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$blue\".\A         on line 111 of C:/Web Sajtovi/mea-i.org/wp-content/themes/mea-i/sass/kutije.scss"; }
